body {
    font-family: "Montserrat", system-ui;
    margin: 0;
    padding: 0;
    position: relative;
}

h2 {
    margin-left: 20px;
    color: #3c5cff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #3c5cff;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: all 200ms ease;
}

.navbar-brand:hover{
    color: #378CE7;
}

.navbar img{
    width: 50px;
    height: 50px;
    margin-right: 5px; 
}

.navbar-brand i {
    margin-right: 10px;
    font-size: 24px;
}
.navbar-toggler{
    border: none;
    color: #3c5cff;
}
.navbar-toggler, .navbar-toggler:focus, 
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.no-border {
    outline: none;
    box-shadow: none;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 20px;
}

.search-bar {
    padding: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
}

.search-btn {
    padding: 8px 15px;
    border: none;
    background-color: #3c5cff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
}   

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    text-decoration: none;
    color: #3c5cff;
    margin-left: 20px;
}



.login-container .login-btn {
    padding: 8px 10px 8px;
    border: 2px solid #3c5cff;
    border-radius: 20px;
    text-align: center;
    width: 100% ;
    font-weight: 600;
    transition: all 200ms ;
}

.login-container .login-btn:hover {
    background-color: #3c5cff;
    color: #ffffff;
}

.login-container .signup-btn {
    padding: 8px 10px 8px;  
    background-color: #3c5cff;
    border: 2px solid #3c5cff;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    margin-left: 10px;
    transition: all 200ms ;
}

.login-container .signup-btn:hover {
    background-color: #324dd2;
}

.sidebar-toggler{
    border: none;
    color: #fff;
    padding: 10px;
    transform: translateY(90px);
    width: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #3c5cff;
    margin-right: 20px;
    position: fixed;    
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
    transition: all 200ms ease;
    z-index: 100;
}

.sidebar-toggler:hover{
    width: 45px;
    padding-left: 15px;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #e0e0e0;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.sidebar.show {
    transform: translateX(0); /* Menampilkan sidebar */
}

.sidebar .close-sidebar {
    transform: translateY(30px);
    justify-content: end;
    padding-left: 20px;
}

.sidebar .user-info {
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.sidebar .user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebar .user-info h5 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.sidebar .user-info p {
    font-size: 12px;
    color: #828282;
}

.sidebar .menu ul {
    padding: 0;
    list-style: none;
}
.sidebar .menu ul li {
    padding: 5px 20px;
}

.sidebar .menu ul li.active a {
    background-color: #5356ff;
    border: 2px solid #5356ff;
    color: #fff;
}

.sidebar .menu ul li a i {
    margin-right: 10px;
    margin-left: 5px;
}

.sidebar .menu ul li a{
    text-decoration: none;
    padding: 10px 5px;
    color: #595959;
    display: flex;
    align-items: center;
    /* transition: all 0.5s ease; */
} 

.sidebar .menu ul li a:hover, 
.sidebar .menu ul li.active a {
    background-color: #e0e0e0;
    border-radius: 10px;
    color: #5356ff;
}

.main-content {
    padding: 15px 30px 0 30px;
    transform: translateY(78px);
    position: relative;
    padding-bottom: 100px; 
}

.main-content h2 {
    font-weight: 600;
    margin-bottom: 0;
}

.card-container {
    /* gap: 20px; */
    padding: 0px 20px;
}

.card{
    text-align: center;
    border-radius: 3%;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}
.card img{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.card a{
    background-color: #3c5cff;
    border-radius: 50px;
}

footer{
    background-color: #5356ff;
}  


@media (max-width: 576px) {
    .navbar-right {
        flex-direction: column;
    }
    .login-container{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-right{
        justify-content: center;
    }
    .login-container{
        justify-content: center;
        align-items: center;
    }
}   

@media (max-width: 992px) {
    .navbar-right{
        justify-content: center;
    }
}   