body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #DFF5FF, #67C6E3);
}

.login-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-box {
    padding: 40px;
    width: 300px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-group input[type="password"] {
    padding-right: 40px;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #181C14;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.right-box {
    width: 300px;
    background-color: #67C6E3;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box .circle {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}
