body {
    font-family: 'Montserrat', system-ui;
    background: linear-gradient(to top, #c2c3ff, #f6f6ff);
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container-fluid .row{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.left-card{
    width: 400px;   
    height: 450px;
    padding: 30px;
    background-color: #f6f6ff;
    transform: translateX(20px);
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInLeft 800ms ease forwards;
    z-index: 10;   
}
.left-card .judul{
    text-align: center;
    margin: 50px 0 50px 0;
}

.left-card h1{
    font-weight: 800;
    font-size: 45px;
    color: #5356FF;
    margin: 0;
}

.left-card p{
    margin: 0;
}

form .input-group{
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-group .form-control{
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
}



.input-group .form-control:focus,
.form-group .form-check-input:focus{
    box-shadow: none;
}

.input-group span{
    background-color: #fff;
    margin-top: -10px;
    font-size: 13px;
}

.form-group .form-check-input{
    border: 1px solid #5356FF;
}

.form-group .form-check-input:checked{
    background-color: #5356FF;
}

.form-group label{
    font-size: 13px;
}

.form-group a{
    font-size: 13px;
    color: #5356FF;
    text-decoration: none;
}

.login-register p, .login-register a{
    margin-top: 5px;
    font-size: 13px;
    text-decoration: none;
}
/* .form-group .form-check-input{
    border-radius: 50%;
} */

.left-card button{
    margin-top: 20px;
    width: 100%;
    background-color: #5356FF;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
}
.left-card button:hover{
    background-color: #4043f9;
    color: #fff;
    box-shadow: 6px 6px 1px rgb(64, 67, 249, 0.2);
    scale: 1.01;
}

.right-card{
    width: 400px;
    height: 500px;
    padding: 40px;
    transform: translateX(-20px);   
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    background-image: url(https://i.ibb.co/LhwSwy5/SOC02116.jpg);
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInRight 800ms ease forwards;
    z-index: 1;
}

.right-card::after{
    content: "";
    position: absolute;    
    border-radius: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        rgb(83, 86, 255,0.5), 
        rgba(0, 0, 0, 0.4)
    );
}

.right-card .logo{
    /* position: absolute; */
    text-align: center;
    padding-top: 10px;
    z-index: 2;
}

.right-card h3{
   font-weight: 700;
   color: #fff;
   margin-top: 10px;
}
 
.right-card .logo img{
    width: 100px;
    height: 100px;
}

.right-card .img-card{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.right-card .img-card img{
    justify-content: center;
    text-align: center;
    width: 250px;

}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(20px); 
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(-20px); 
    }
}


@media (max-width: 768px) {
    .right-card {
        display: none;
    }
    .left-card{
        transform: none;
        animation: none;

    }
}

@media (max-width: 992px) {
    .right-card {
        display: none;
    }
    .left-card{
        transform: none;
        animation: none;
        opacity: 1;

    }
}