.desc-event{
    padding: 20px;
}

.event-detail .card{
    margin: 0 100px;
    /* width: 100%; */
    height: 100%;

}

.event-detail .card{
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-detail .event-image{
    text-align: center;
}
.event-detail .card img{
    height: 400px;
    object-fit: cover;
    width: 300px;
    border-radius: 20px;
    /* border-bottom-right-radius: 200px; */
}

.event-ticket .row{
    justify-content: center;
    align-items: center;
}
.event-ticket .card{
    margin: 15px 5px;
    justify-content: center;
}

.event-ticket .row .card1,
.event-ticket .row .card2,
.event-ticket .row .card3 {
    border: 1px solid rgb(187, 187, 187);
    background: linear-gradient(to bottom, rgb(229, 228, 226), #FFFFFF);
    padding: 20px;
}
/* .event-ticket .row .card1 a{
    background: linear-gradient(to bottom, #ffd700, #FFFFFF);
}

.event-ticket .row .card2 a{
    background: linear-gradient(to bottom, #ffd700, #FFFFFF);
}

.event-ticket .row .card3 a{
    background: linear-gradient(to bottom, #C0C0C0, #FFFFFF);
} */

.event-ticket a{
    width: 50%;
}

.event-detail .event-date{
    margin-left: 10px;
}

.event-ticket a{
    background-color: #3c5cff;
    color: #fff;
}

@media (max-width: 576px){
    .event-detail .card{
        margin: 0;
    
    }
    .event-detail .card img{
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .event-image p{
        font-size: 10px;
    }
    .event-desc{
        font-size: 13px;
    }
    .event-ticket .card{
        margin: 10px 5px;
        justify-content: center;
        font-size: 15px;
    }   
    .review-form .submit-btn{
        text-align: center;
    }
    
}

.review-form  {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.review-form h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color:#3c5cff;
}

/* .review-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
} */
 .review-title{
    align-items: baseline;
    justify-content: space-between;
    display: flex;
    height: 50px;
    margin-bottom: 10px;
}
.review-form .form-group {
    margin-bottom: 15px;
    margin: 0;
    align-items: center;
    justify-content: space-between;

}

.review-form label {
    font-weight: bold;
    color: #555;
}

.star-rating {
    direction: rtl; 
    font-size: 2em;
    align-self: center;
    
}
.star-rating input[type="radio"] {
    display: none; 
}
.star-rating label {
    color: #ccc; 
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107; 
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; 
}

.review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
}

/* .review-form textarea:focus {
    border: 5px solid #333;
} */
.review-form .btn {
    background-color:#3c5cff;
    font-size: 1rem;
    border: none;
    padding: 5px 15px;
    margin: 10px 0 30px 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    scale: 1;
}

/* .review-form .btn:hover {
    background-color: #0056b3;
} */

.review-form .btn:active{
    background-color: #3c5cff;
    color: #fff;
    scale: 0.95;
}

