.warna{
    color: #378CE7;
    color: #e6f2ff
}

/* Color Pallete */
.warna-biru-tua {
    color: #5356FF;
  }
  
  .warna-biru-muda {
    color: #378CE7;
  }
  
  .warna-biru-pastel {
    color: #67C6E3;
  }
  
  .warna-putih {
    color: #DFF5FF;
  }
  
  .warna-hitam {
    color: #181C14;
  }